 <div class="row">
        <div id="parkingMap" class="col-sm-12">
            <img id="map" src="http://www.image-maps.com/m/private/0/in8t6lu30q2jdo2lc4ugv9ah91_screen-shot-2018-06-08-at-1.49.42-pm.png" border="0" width="594" height="522" orgWidth="594" orgHeight="522" usemap="#image-maps-2018-06-07-215247" alt="" />
            <map name="image-maps-2018-06-07-215247" id="ImageMapsCom-image-maps-2018-06-07-215247">

            <area  alt="" title="Carpark 1 " href= "/carpark/edit/1" shape="rect" coords="179,89,229,160" style="outline:none;" target="_self"     />
            <area  id="2" alt="" title="carpark 2" href= "/carpark/edit/2" shape="rect" coords="235,91,285,162" style="outline:none;" target="_self"     />
            <area  alt="" title="carpark 3" href= "/carpark/edit/3" shape="rect" coords="292,90,342,161" style="outline:none;" target="_self"     />
            <area  alt="" title="carpark 4" href= "/carpark/edit/4" shape="rect" coords="24,189,93,231" style="outline:none;" target="_self"     />
            <area  alt="" title="carpark 5" href= "/carpark/edit/5" shape="rect" coords="23,234,92,276" style="outline:none;" target="_self"     />
            <area  alt="" title="carpark 6" href= "/carpark/edit/6" shape="rect" coords="28,282,90,324" style="outline:none;" target="_self"     />
            <area  alt="" title="carpark 7" href= "/carpark/edit/7" shape="rect" coords="97,189,157,231" style="outline:none;" target="_self"     />
            <area  alt="" title="carpark 8" href= "/carpark/edit/8" shape="rect" coords="93,235,160,277" style="outline:none;" target="_self"     />
            <area  alt="" title="carpark 9" href= "/carpark/edit/9" shape="rect" coords="96,282,158,324" style="outline:none;" target="_self"     />
            <area  alt="" title="carpark 10" href= "/carpark/edit/10" shape="rect" coords="59,89,121,150" style="outline:none;" target="_self"     />
            <area shape="rect" coords="592,520,594,522" alt="Image Map" style="outline:none;" title="Image Map" href="http://www.image-maps.com/index.php?aff=mapped_users_0" />
            </map>
            
        </div>
      </div>
      <div class="row">
          <div class="col-sm">
            <ol>
              <li>Choose your spot.</li>
              <li>Enter your details to book.</li>
              <li>When you're ready to leave, hit 'Leave'</li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    
