<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>EDA carparks</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="../main.css">

</head>
<body>
    Test
     <div class="container-fluid">
    {{{body}}}
    </div>
</body>
<footer class="footer text-center">Dedicated to Marion ♥  Developed by Pegesus .inc </footer>        
</html>