<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>EDA carparks</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="./main.css">

</head>
<body>
    <!-- header -->
    <div class="container-fluid">
      <div class="row">
        <div id="edaIconCol" class="col-sm-2">
          <img src="../images/eda.png" id="edaIcon" class="img-fluid" alt="Responsive image">
        </div>
        <div id="appName" class="col-sm-10">
          <h3 class="text-center">Parking Situation</h3>
          <div class="col-sm-10">
              <p class="text-center">blah blah blahblahblahblahblahblahblahbllckdkdk<br>dkddkdkdkdkdkdkdkdkdkdckdkcdkckdckdkcdkcdkcdkcdkckd
                kcdkckdckdkcdkcdckdkcdkcdkckdckdcdkcdkcdkckdc<br>kdsckdsckdsckdskcdkcskcdkcskdcskcdkckdcskskckckl</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div id="parkingMap" class="col-sm-12">
            <a href="https://placeholder.com"><img src="http://via.placeholder.com/575x500"></a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <footer class="text-center">Developed by Pegesus .inc </footer>
        </div>
       
      </div>

    </div>
  

</body>
</html>