/* custom css for carpark app */


#edaIcon {
  width: 175px;
  padding-top: 15px

}

#edaIconCol {
width: 40%;
}
#appName {
  max-width: 60%;
  padding-top: 15px;
}


#Map {
  padding: 0%;
}
.row {
  width: 100%;
}

#imageMap {
  padding: 0px;
 
}


.inputs {
  float: right;
}

#submit {
  margin-top: 5px;

}

#details.table.table-striped {
width:auto;
}