/* custom css for carpark app */
#edaIcon {
  display: block;
  max-width: 100%; !important
  height: auto;
  margin-right: 0%;
  padding: 0%;
}

#edaIconCol {
  max-width: 40%;
  margin: 0%;
  width: 100px;
  height: 100px;
}

#appName {
  max-width: 80%;
}